.logo {
    height: 100%;
    display: block;
}
.searchNavBar {
    display: inline-block;
    border-radius: 14px;
    width: 200px;
    font-size: 14px;
    height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}
.searchNavBar:focus {
    outline: 0;
}

.navigationBarMain {
    border-radius: 0;
}

@media (max-width: 767px) {
    .searchNavBar {
        width: 98%;
        margin-left: 1%;
        margin-top: 0;
    }
}

@media (max-width: 900px) and (min-width: 768px) {
    .logInNavBar, .signUpNavBar, .logOutNavBar {
        display: none;
    }
    .searchNavBar {
        width: 160px;
    }
}
