<div class="page-header">
    <h2>{{car.model}}, {{car.year}}</h2>
</div>

<table style="width:100%">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Location start</th>
        <th>location finish</th>
    </tr>
    <tr ng-repeat="order in car.orders | orderBy:'-from'">
        <td>{{order.from}}</td>
        <td>{{order.to}}</td>
        <td>{{order.startLocation}}</td>
        <td>{{order.finishLocation}}</td>
    </tr>
</table>

<form ng-submit="addOrder()">
    <h3>Add a new order to this car (TEST)</h3>
    <input type="text" ng-model="from" placeholder="From">
    <br>
    <input type="text" ng-model="to" placeholder="To">
    <br>
    <input type="text" ng-model="startLocation" placeholder="Location start">
    <br>
    <input type="text" ng-model="finishLocation" placeholder="Location finish">
    <br>
    <button type="submit">Add order</button>
</form>
