<div class="page-header">
    <h1>Cars</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div ng-repeat="item in cars | orderBy: 'price'" class="col-md-3">
                <h3><a href="#/cars/aboutCar_{{item._id}}">{{item.model}}, {{item.year}}</a></h3>
                <p>Doors: {{item.doors}}</p>
                <img class="carImg" src="{{item.image}}">
                <p ng-show="item.airConditioner">Air Conditioner</p>
                <p ng-show="item.autoTransmission">Automatic Transmission</p>
                <p>Price per day: ${{item.price}}</p>
                <hr>
            </div>
        </div>
    </div>
</div>

<a href="#/cars/addCar"><button>Add car</button></a>
