<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="/libs/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/auth/login.css">
    <link rel="stylesheet" href="/stylesheets/addCar.css">
    <link rel="stylesheet" href="/stylesheets/cars.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/navBar.css">

    <head>
        <!--<base href="/">-->
        <meta charset="utf-8">
        <title>SOme title</title>
    </head>

    <script src="/libs/angular.js"></script>
    <script src="/libs/angular-ui-router.js"></script>
    <script src="/libs/ui-bootstrap-tpls.js"></script>
    <script src="/libs/jquery.js"></script>
    <script src="/libs/bootstrap.js"></script>


    <script src="/javascripts/angularApp.js"></script>

    <script src="/javascripts/modules/aboutCarModule.js"></script>
    <script src="/javascripts/modules/addCarModule.js"></script>
    <script src="/javascripts/modules/carsModule.js"></script>
    <script src="/javascripts/modules/authModule.js"></script>

    <script src="/javascripts/controllers/aboutCarCtrl.js"></script>
    <script src="/javascripts/controllers/addCarCtrl.js"></script>
    <script src="/javascripts/controllers/carsCtrl.js"></script>
    <script src="/javascripts/controllers/authCtrl.js"></script>
    <script src="/javascripts/controllers/navigationCtrl.js"></script>

    <script src="/javascripts/services/carsService.js"></script>
    <script src="/javascripts/services/authService.js"></script>
    <script src="/javascripts/services/filereader.js"></script>

    <script src="/javascripts/directives/ngFileSelect.js"></script>
    <script src="/javascripts/directives/ngCar.js"></script>

    <body ng-app="rentCarsApp">

        <div class="wrapper">
            <div ng-controller="navigationCtrl">
                <div ng-include="navigation.url"></div>
            </div>


            <!--

            <div>
                <nav class="navbar navbar-default pull-right" ng-controller="navigationCtrl">
                    <ul class="nav navbar-nav">

                    </ul>
                </nav>
            </div>

            -->


            <ui-view></ui-view>

            <footer>
                <h5 class="text-center">&copy 2015 Dzmitry Niadzelka, Exadel</h5>
            </footer>

        </div>

    </body>
</html>
