.noFeedbacks {
    margin-top: 10%;
}

textarea {
    resize: none;
}

.feedback-btn {
    margin-left: 20px;
    position: absolute;
    font-size: 18px;
    border: 2px solid #d3d3d3;
    transition: all 0.3s ease-in;
    border-radius: 20px;
}

.feedback-btn:hover {
    background-color: #343a3c;
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .spanBtnKeepFeedback {
        display: none;
    }
    .feedback-btn {
        margin-left: 10px;
    }
}

.feedbackImg {
    width: 25%;
    float: left;
}

.feedbackItem article {
    text-align: left;
    float: right;
    width: 70%;
}

a.left.carousel-control,
a.right.carousel-control {
    background-image: none;
    opacity: 1;
}


.glyphicon-chevron-left,
.glyphicon-chevron-right {
    transition: all 0.3s ease-in;
    color: #343a3c;
    opacity: 0.7;
}

.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover {
    opacity: 1;
}

.feedbackCarousel {
    margin-bottom: 60px;
}

.feedback-block {
    padding: 0 200px;
    height: 280px;
}

.feedbackItem {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 280px;
}

.feedbackItem:hover {
    transition: all 0.3s ease-in;
    cursor: pointer;
    background-color: #343a3c;
    color: white;
}

.feedbackTextWrapper {
    display: block;
    height: 240px;
    width: 100%;
}

.feedbackText {
    font-size: 20px;
}

.feedbackTextModal {
    font-size: 20px;
    word-wrap: break-word;
}

.feedbackUserName {
    font-size: 25px;
    padding-bottom: 10px;
    width: 100%;
}

.carousel-indicators {
    display: none;
}

@media (max-width: 1400px) {
    .feedback-block {
        padding: 0 120px;
    }
}

@media (max-width: 1199px) {
    .feedbackCarousel {
        height: 690px;
    }
    .feedback-block {
        height: 690px;
    }
    .feedbackItem {
        height: 230px;
    }
    .feedbackTextWrapper {
        height: 180px;
    }
}

@media (max-width: 1000px) {
    .feedback-block {
        padding: 0 100px;
    }
}

@media (max-width: 600px) {
    .feedback-block {
        padding: 0 60px;
    }
    .feedbackImg img {
        width: 70%;
    }
    .feedbackImg {
        width: 15%;
    }
    .feedbackItem article {
        width: 80%;
    }
    .feedbackTextWrapper {
        height: 200px;
    }
}
