<div class="wrappered">
    <div class="page-header">
        <h1 class="text-center">Feedbacks</h1>
    </div>

    <div class="row" ng-show="feedbacks.length">
        <div class="col-md-10 col-md-offset-1">
            <slick ng-if="feedbacks.length" settings="slickConfig"
                infinite=true
                slides-to-show=3
                slides-to-scroll=3
                speed=600
                touch-move=true
                slides-to-scroll=3
                autoplay=true
                autoplaySpeed=3000>

                <div ng-repeat="item in feedbacks" class="row feedbackItem">
                    <div class="col-md-3">
                        <img ng-src="img/user.png" class="feedbackImg">
                    </div>
                    <div class="col-md-9">
                        <div class="feedbackText">
                            <span><i class="fa fa-user"></i> {{item.name}}</span>
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                </div>
            </slick>
            <button class="btn btn-primary pull-right" ng-click="toggleModal()">Keep feedback</button>
        </div>
    </div>




    <ng-modal-pop-up title="Keep feedback" visible="showModal">
        <form name="feedbackForm" ng-attempt ng-validation="addFeedback()" novalidate>

            <div class="form-group" ng-class="{'has-error': feedbackForm.name.$invalid && (feedbackForm.name.$dirty || attempt.feedbackForm.attempted)}">
                <label for="name">Name</label>
                <input type="text" ng-model="o.name" placeholder="Your name" class="form-control" name="name" required>
                <span class="help-block" ng-show="feedbackForm.name.$error.required">Required</span>
            </div>

            <div class="form-group" ng-class="{'has-error': feedbackForm.phoneNumber.$invalid && (feedbackForm.phoneNumber.$dirty || attempt.feedbackForm.attempted)}">
                <label for="phoneNumber">Phone number</label>
                <br>
                <input type="tel"
                    autocomplete="off"
                    id="feedbackPhoneNumber"
                    ng-model="o.phoneNumber"
                    placeholder="Phone number"
                    class="form-control"
                    name="phoneNumber"
                    ng-phone-helper maxlength="30"
                    minlength="14"
                    required>
                <span class="help-block" ng-show="feedbackForm.phoneNumber.$error.required">Required</span>
                <span class="help-block" ng-show="feedbackForm.phoneNumber.$error.minlength">Too short phone number.</span>
            </div>

            <div class="form-group" ng-class="{'has-error': feedbackForm.text.$invalid && (feedbackForm.text.$dirty || attempt.feedbackForm.attempted)}">
                <label for="text">Text</label>
                <textarea type="text" ng-model="o.text" placeholder="Type your feedback" rows="5" class="form-control" name="text" required></textarea>
                <span class="help-block" ng-show="feedbackForm.text.$error.required">Required</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                <button type="submit" class="btn btn-primary">Keep feedback</button>
            </div>
        </form>

    </ng-modal-pop-up>

    <h2 ng-hide="feedbacks.length" class="text-center noFeedbacks">
        <small>
            There is no feedback in our service!
            <br> You can be the first :)
            <br>
            <br>
            <button class="btn btn-primary" ng-click="toggleModal()">Keep feedback</button>
        </small>
    </h2>

</div>
