.noFeedbacks {
    margin-top: 10%;
}

textarea {
    resize: none;
}

.feedbackItem {
    height : 400px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #F6F4F1;
}

.slick-prev:before,
.slick-next:before {
    background: transparent;
    opacity: 0.7;
    color: black;
}

.feedbackImg {
    padding-left: 20px;
    padding-top: 20px;
}

.feedbackText {
    padding: 20px;
}
