.noFeedbacks {
    margin-top: 10%;
}

textarea {
    resize: none;
}

.feedback-btn {
    margin-left: 20px;
    position: absolute;
    font-size: 20px;
    border: 2px solid #d3d3d3;
    transition: all .3s ease-in-out 0s;
    border-radius: 20px;
}

.feedback-btn:hover {
    background-color: #343a3c;
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .spanBtnKeepFeedback {
        display: none;
    }
    .feedback-btn {
        margin-left: 10px;
    }
}

.feedbackImg {
    width: 25%;
    float: left;
}

.feedbackItem article {
    text-align: left;
    float: right;
    width: 70%;
}

a.left.carousel-control,
a.right.carousel-control {
    background-image: none;
    opacity: 1;
}


.glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: #343a3c;
}

.feedbackCarousel {
    margin-bottom: 60px;
}

.feedback-block {
    padding: 0 200px;
}

.feedbackItem {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 280px;
}

.feedbackItem:hover {
    cursor: pointer;
    background-color: #343a3c;
    color: white;
}

.feedbackText {
    overflow: hidden;
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    font-size: 19px;
    line-height: 20px;
    max-height: 180px;
    -webkit-line-clamp: 9;

}

.feedbackTextModal {
    font-size: 20px;
}

.feedbackHeader {
    padding-top: 50px;
    padding-bottom: 100px;
}

.feedbackUserName {
    font-size: 25px;
    padding-bottom: 10px;
    width: 100%;
}

.carousel-indicators {
    display: none;
}

@media (max-width: 1199px) {
    .feedbackCarousel {
        height: 750px;
    }
    .feedbackItem {
        height: 230px;
    }
}

@media (max-width: 1400px) {
    .feedback-block {
        padding: 0 120px;
    }
}

@media (max-width: 1000px) {
    .feedback-block {
        padding: 0 100px;
    }
}

@media (max-width: 600px) {
    .feedback-block {
        padding: 0 60px;
    }
    .feedbackImg img {
        width: 70%;
    }
    .feedbackImg {
        width: 15%;
    }
    .feedbackItem article {
        width: 80%;
    }
    .feedbackText {
        line-height: 20px;
        max-height: 140px;
        -webkit-line-clamp: 7;
    }
}
