<div class="wrappered">
    <h1 class="text-center feedbackHeader">
        Feedbacks
        <a ng-click="toggleModalKeep()" class="btn feedback-btn">
            <i class="fa fa-comment-o"></i>
            <span class="spanBtnKeepFeedback">Keep feedback</span>
        </a>
    </h1>

    <uib-carousel interval="myInterval" class="feedbackCarousel" no-wrap="noWrapSlides">
        <uib-slide class="feedback-block" ng-repeat="line in (feedbacks.length/3 | array) track by $index" ng-class="{active: $index==0};">
            <div ng-repeat="item in feedbacks.slice(3*$index, 3*$index + 3)" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 feedbackItem" ng-click="toggleModalGet(item)">
                <div class="feedbackImg">
                    <img ng-src="img/user.png">
                </div>
                <article>
                    <span class="feedbackUserName pull-left">{{item.name}}</span>
                    <p class="feedbackText">{{item.text}}</p>
                </article>
            </div>
        </uib-slide>
    </uib-carousel>

    <ng-modal-pop-up title="{{currentFeedback.name}}" visible="showModalGet">
        <p class="feedbackTextModal">{{currentFeedback.text}}</p>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </ng-modal-pop-up>


    <ng-modal-pop-up title="Keep feedback" visible="showModalKeep">
        <form name="feedbackForm" ng-attempt ng-validation="addFeedback()" novalidate>

            <div class="form-group" ng-class="{'has-error': feedbackForm.name.$invalid && (feedbackForm.name.$dirty || attempt.feedbackForm.attempted)}">
                <label for="name">Name</label>
                <input type="text" ng-model="o.name" placeholder="Your name" class="form-control" name="name" required>
                <span class="help-block" ng-show="feedbackForm.name.$error.required">Required</span>
            </div>

            <div class="form-group" ng-class="{'has-error': feedbackForm.phoneNumber.$invalid && (feedbackForm.phoneNumber.$dirty || attempt.feedbackForm.attempted)}">
                <label for="phoneNumber">Phone number</label>
                <br>
                <input type="tel" autocomplete="off" id="feedbackPhoneNumber" ng-model="o.phoneNumber" placeholder="Phone number" class="form-control" name="phoneNumber" ng-phone-helper maxlength="30" minlength="14" required>
                <span class="help-block" ng-show="feedbackForm.phoneNumber.$error.required">Required</span>
                <span class="help-block" ng-show="feedbackForm.phoneNumber.$error.minlength">Too short phone number.</span>
            </div>

            <div class="form-group" ng-class="{'has-error': feedbackForm.text.$invalid && (feedbackForm.text.$dirty || attempt.feedbackForm.attempted)}">
                <label for="text">Text</label>
                <textarea maxlength="2000" ng-model="o.text" placeholder="Max 2000 characters only" rows="5" class="form-control" name="text" required></textarea>
                <span class="help-block" ng-show="feedbackForm.text.$error.required">Required</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                <button type="submit" class="btn btn-primary">Keep feedback</button>
            </div>
        </form>

    </ng-modal-pop-up>

    <h2 ng-hide="feedbacks.length" class="text-center noFeedbacks">
        <small>
            There is no feedback in our service!
            <br> You can be the first :)
        </small>
    </h2>

</div>
