<div class="wrappered">
        <div class="page-header">
            <h2 class="text-center aboutCarTitle">
                {{::car.model}}, {{::car.year}}
                <a href="" ng-click="toggleModal()"><div class="fa fa-trash-o deleteCar"></div></a>
                <a href="#/cars/editCar_{{car._id}}"><div class="fa fa-pencil editCar"></div></a>
            </h2>
        </div>

    <ng-modal-pop-up title="Delete car" visible="showModal">
        <h3>Do you realy want to delete {{::car.model}}, {{::car.year}}?</h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" ng-click="removeCar(car._id)">Delete car</button>
        </div>
    </ng-modal-pop-up>

        <h2 ng-hide="car.orders.length" class="text-center">
        <small>
            There are no orders for "{{::car.model}}" car!
        </small>
        <hr>
    </h2>

    <div class="row" ng-show="car.orders.length">
        <div class="col-md-12">

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>

                        <input type="text" class="form-control" placeholder="Searh in orders" ng-model="searchOrders">

                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'from'; sortReverse = !sortReverse">
                                From
                                <span ng-show="sortType == 'from' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'from' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'to'; sortReverse = !sortReverse">
                                To
                                <span ng-show="sortType == 'to' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'to' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'startLocation'; sortReverse = !sortReverse">
                                Start location
                                <span ng-show="sortType == 'startLocation' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'startLocation' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'finishLocation'; sortReverse = !sortReverse">
                                Finish location
                                <span ng-show="sortType == 'finishLocation' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'finishLocation' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'addInfo'; sortReverse = !sortReverse">
                                Info
                                <span ng-show="sortType == 'addInfo' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'addInfo' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                                First name
                                <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
                                Last name
                                <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'dateBirth'; sortReverse = !sortReverse">
                                Birth date
                                <span ng-show="sortType == 'dateBirth' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'dateBirth' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'docNumber'; sortReverse = !sortReverse">
                                Document
                                <span ng-show="sortType == 'docNumber' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'docNumber' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'phoneNumber'; sortReverse = !sortReverse">
                                Phone
                                <span ng-show="sortType == 'phoneNumber' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'phoneNumber' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="order in car.orders | orderBy:sortType:sortReverse | filter:searchOrders">
                        <td>{{ ::order.from }}</td>
                        <td>{{ ::order.to }}</td>
                        <td>{{ ::order.startLocation }}</td>
                        <td>{{ ::order.finishLocation }}</td>
                        <td>{{ ::order.addInfo }}</td>
                        <td>{{ ::order.firstName }}</td>
                        <td>{{ ::order.lastName }}</td>
                        <td>{{ ::order.dateBirth }}</td>
                        <td>{{ ::order.docNumber }}</td>
                        <td>{{ ::order.phoneNumber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <form name="addOrderForm" ng-attempt ng-validation="addOrder()" novalidate>
            <div class="col-md-8 col-md-offset-2" ng-date-picker>
                <div class="col-md-12 addCarHeader">
                    <h3>Add a new order for "{{::car.model}}" car:</h3>
                </div>

                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': addOrderForm.from.$invalid && (addOrderForm.from.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="from">From</label>
                        <div class="input-group date" id="addOrderDatePickerFrom">
                            <input type="text"
                                id="inputDatePickerFrom"
                                ng-model="from"
                                placeholder="YYYY-MM-DD HH:mm"
                                class="form-control"
                                name="from"
                                required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span class="help-block" ng-show="addOrderForm.from.$error.required">Required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.to.$invalid && (addOrderForm.to.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="to">To</label>
                        <div class="input-group date" id="addOrderDatePickerTo">
                            <input type="text"
                                id="inputDatePickerTo"
                                ng-model="to"
                                placeholder="YYYY-MM-DD HH:mm"
                                class="form-control"
                                name="to"
                                required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span class="help-block" ng-show="addOrderForm.to.$error.required">Required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.startPoint.$invalid && (addOrderForm.startPoint.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="startPoint">Start point</label>
                        <input type="text" ng-model="startLocation" placeholder="Location start" class="form-control" name="startPoint" required>
                        <span class="help-block" ng-show="addOrderForm.startPoint.$error.required">Required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.endPoint.$invalid && (addOrderForm.endPoint.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="endPoint">End point</label>
                        <input type="text" ng-model="finishLocation" placeholder="Location finish" class="form-control" name="endPoint" required>
                        <span class="help-block" ng-show="addOrderForm.endPoint.$error.required">Required</span>
                    </div>
                    <div class="form-group">
                        <label for="addInfo">Additional information</label>
                        <input type="text" ng-model="addInfo" placeholder="Additional information" class="form-control" name="addInfo">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': addOrderForm.firstName.$invalid && (addOrderForm.firstName.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="firstName">First name</label>
                        <input minlength="3" maxlength="16" type="text" ng-model="firstName" placeholder="First name" class="form-control" name="firstName" required>
                        <span class="help-block" ng-show="addOrderForm.firstName.$error.required">Required</span>
                        <span class="help-block" ng-show="addOrderForm.firstName.$error.minlength">First name must have 3 characters at least.</span>
                        <span class="help-block" ng-show="addOrderForm.firstName.$error.maxlength">First name might have 16 characters as maximum.</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.lastName.$invalid && (addOrderForm.lastName.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="lastName">Last name</label>
                        <input minlength="3" maxlength="16" type="text" ng-model="lastName" placeholder="Last name" class="form-control" name="lastName" required>
                        <span class="help-block" ng-show="addOrderForm.lastName.$error.required">Required</span>
                        <span class="help-block" ng-show="addOrderForm.lastName.$error.minlength">Last name must have 3 characters at least.</span>
                        <span class="help-block" ng-show="addOrderForm.lastName.$error.maxlength">Last name might have 16 characters as maximum.</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.dateBirth.$invalid && (addOrderForm.dateBirth.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="dateBirth">Date of birth</label>
                        <div class='input-group date' id='addOrderDatePickerBirth'>
                            <input type="text"
                                id="inputDatePickerBirth"
                                ng-model="dateBirth"
                                placeholder="YYYY-MM-DD"
                                class="form-control"
                                name="dateBirth"
                                required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span class="help-block" ng-show="addOrderForm.dateBirth.$error.required">Required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.docNumber.$invalid && (addOrderForm.docNumber.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="docNumber">Document number</label>
                        <input minlength="7" maxlength="16" type="text" ng-model="docNumber" placeholder="Document number" class="form-control" name="docNumber" required>
                        <span class="help-block" ng-show="addOrderForm.docNumber.$error.required">Required</span>
                        <span class="help-block" ng-show="addOrderForm.docNumber.$error.minlength">Document number must have 7 characters at least.</span>
                        <span class="help-block" ng-show="addOrderForm.docNumber.$error.maxlength">Document number might have 16 characters as maximum.</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addOrderForm.phoneNumber.$invalid && (addOrderForm.phoneNumber.$dirty || attempt.addOrderForm.attempted)}">
                        <label for="phoneNumber">Phone number</label>
                        <br>
                        <input type="tel"
                            autocomplete="off"
                            id="aboutCarPhoneNumber"
                            ng-model="phoneNumber"
                            placeholder="Phone number"
                            class="form-control"
                            name="phoneNumber"
                            ng-phone-helper
                            maxlength="30"
                            minlength="14"
                            required>
                        <span class="help-block" ng-show="addOrderForm.phoneNumber.$error.required">Required</span>
                        <span class="help-block" ng-show="addOrderForm.phoneNumber.$error.minlength">Too short phone number.</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right">Add order</button>
                </div>
            </div>
        </form>
    </div>
</div>
