.addCarImg {
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin:auto;
}

.addCarContainer {
    margin-top: 10px;
    width: 100px;
    height: auto;
    border: 1px solid #A0A0A0;
}

.addCarProgressImg {
    margin-top: 5px;
    width: 100px;
    height: 3px;
}

.row {
    margin: 0;
}
