.carImg {
    max-width: 100%;
    max-height: 170px;
    display:block;
    margin:auto;
}

.carItem {
    height: 380px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #F6F4F1;
}

.carItem .carModel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.carItem a {
    text-decoration: none;
    decoration: none;
}

.carItem:hover {
    background-color: #e2dcd2;
}

.innerDivCarItem {
    height: 380px;
}

.noCars {
    margin-top: 10%;
}
