* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.wrappered {
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer h5 {
    padding-top: 50px;
    padding-bottom: 10px;
}
