<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="/libs/bootstrap.css">
    <link rel="stylesheet" href="/libs/intlTelInput.css">
    <link rel="stylesheet" href="/libs/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="/app/authentification/login.css">
    <link rel="stylesheet" href="/app/addCar/addCar.css">
    <link rel="stylesheet" href="/app/editCar/editCar.css">
    <link rel="stylesheet" href="/app/allCars/cars.css">
    <link rel="stylesheet" href="/app/footer/footer.css">
    <link rel="stylesheet" href="/app/navigationBar/navBar.css">
    <link rel="stylesheet" href="/app/aboutCar(addOrder)/aboutCar.css">
    <link rel="stylesheet" href="/fonts/font-awesome.css">

    <link rel="shortcut icon" href="/img/favicon.png">

    <head>
        <!--<base href="/">-->
        <meta charset="utf-8">
        <title>SOme title</title>
    </head>

    <script type="text/javascript" src="/libs/angular.js"></script>
    <script type="text/javascript" src="/libs/angular-ui-router.js"></script>
    <script type="text/javascript" src="/libs/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/libs/jquery.js"></script>
    <script type="text/javascript" src="/libs/bootstrap.js"></script>
    <script type="text/javascript" src="/libs/intlTelInput.js"></script>
    <script type="text/javascript" src="/libs/utils.js"></script>
    <!-- datePicker -->
    <script type="text/javascript" src="/libs/moment.js"></script>
    <script type="text/javascript" src="/libs/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript" src="/app/mainModule/angularApp.js"></script>
    <script type="text/javascript" src="/app/aboutCar(addOrder)/aboutCarModule.js"></script>
    <script type="text/javascript" src="/app/addCar/addCarModule.js"></script>
    <script type="text/javascript" src="/app/editCar/editCarModule.js"></script>
    <script type="text/javascript" src="/app/allCars/carsModule.js"></script>
    <script type="text/javascript" src="/app/authentification/authModule.js"></script>
    <script type="text/javascript" src="/app/clients/clientsModule.js"></script>
    <script type="text/javascript" src="/app/feedbacks/feedbacksModule.js"></script>
    <script type="text/javascript" src="/app/orders/ordersModule.js"></script>


    <script type="text/javascript" src="/app/aboutCar(addOrder)/aboutCarCtrl.js"></script>
    <script type="text/javascript" src="/app/addCar/addCarCtrl.js"></script>
    <script type="text/javascript" src="/app/editCar/editCarCtrl.js"></script>
    <script type="text/javascript" src="/app/allCars/carsCtrl.js"></script>
    <script type="text/javascript" src="/app/authentification/authCtrl.js"></script>
    <script type="text/javascript" src="/app/navigationBar/navigationCtrl.js"></script>

    <script type="text/javascript" src="/app/services(global)/carsService.js"></script>
    <script type="text/javascript" src="/app/services(global)/authService.js"></script>
    <script type="text/javascript" src="/app/services(global)/filereader.js"></script>
    <script type="text/javascript" src="/app/services(global)/doSearch.js"></script>

    <script type="text/javascript" src="/app/directives/ngFileSelect.js"></script>
    <script type="text/javascript" src="/app/directives/formvalidation/ngValidation.js"></script>
    <script type="text/javascript" src="/app/directives/formvalidation/ngAttempt.js"></script>
    <script type="text/javascript" src="/app/directives/ngDatePicker.js"></script>
    <script type="text/javascript" src="/app/directives/ngPhoneHelper.js"></script>
    <script type="text/javascript" src="/app/directives/modalPopUp/modalPopUp.js"></script>

    <body ng-app="rentCarsApp">

        <div class="wrapper">

            <div ng-controller="navigationCtrl">
                <div ng-include="navigation.url"></div>
            </div>

            <ui-view></ui-view>

            <footer>
                <h5 class="text-center">&copy 2015 <a href="https://github.com/culogordo">Dzmitry Niadzelka</a>, Exadel</h5>
            </footer>

        </div>

    </body>
</html>
