.addOrder-btn {
    font-size: 18px;
    width: 100%;
    border: 2px solid #d3d3d3;
    transition: all 0.3s ease-in;
    border-radius: 20px;
    margin-bottom: 20px;
}

.addOrder-btn:hover {
    background-color: #343a3c;
    text-decoration: none;
    color: white;
}

.animate-show{
  transition: all 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.addCarHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ordersAboutCar {
    width: 100%;
}

.iti-flag {background-image: url("/img/flags.png");}

.intl-tel-input {
    width: 100%;
}

.editCar, .deleteCar {
    position: absolute;
    font-size: 10px;
}

.deleteCar {
    margin-left: 20px;
}

.editCar {
    margin-left: 50px;
}

.intl-tel-input input.iti-invalid-key {background-color: #FFC7C7;}

@media (max-width: 600px) {
    .deleteCar {
        margin-left: 10px;
    }
    .editCar {
        margin-left: 40px;
    }
}

.addCarImg {
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin:auto;
}

.addCarContainer {
    margin-top: 10px;
    width: 100px;
    height: auto;
    border: 1px solid #A0A0A0;
}

.addCarProgressImg {
    margin-top: 5px;
    width: 100px;
    height: 3px;
}

.row {
    margin: 0;
}

.add-car-submit {
    width: 150px;
}

.carImg {
    max-width: 100%;
    margin-bottom: 15px;
    max-height: auto;
    display:block;
}

.carItem {
    height: 400px;
    border-radius: 10px;
    background-color: #f2f2f2;
    transition: all 200ms ease-in;
}

.carItem:hover {
    cursor: pointer;
    color: white;
    background-color: #343a3c;
    transform: scale(1.08);
}

.carModel {
    padding-top: 10px;
}

.allcarsCarInfo {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.carImg {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 360px) {
    .carImg {
        height: 100px;
    }
    .carItem {
        height: 310px;
    }
}

.noCars {
    margin-top: 10%;
}

.login-form, .signup-form {
    background-color: #f2f2f2;
    margin-top: 12%;
    padding: 20px;
    border-radius: 10px;
}

.signin-submit,
.login-submit {
    width: 100%;
}

.editCarImg {
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin:auto;
}

.editCarContainer {
    margin-top: 10px;
    width: 100px;
    height: auto;
    border: 1px solid #A0A0A0;
}

.editCarProgressImg {
    margin-top: 5px;
    width: 100px;
    height: 3px;
}

.row {
    margin: 0;
}

.edit-car-submit {
    width: 150px;
}

.noFeedbacks {
    margin-top: 10%;
}

textarea {
    resize: none;
}

.feedback-btn {
    margin-left: 20px;
    position: absolute;
    font-size: 18px;
    border: 2px solid #d3d3d3;
    transition: all 0.3s ease-in;
    border-radius: 20px;
}

.feedback-btn:hover {
    background-color: #343a3c;
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .spanBtnKeepFeedback {
        display: none;
    }
    .feedback-btn {
        margin-left: 10px;
    }
}

.feedbackImg {
    width: 25%;
    float: left;
}

.feedbackItem article {
    text-align: left;
    float: right;
    width: 70%;
}

a.left.carousel-control,
a.right.carousel-control {
    background-image: none;
    opacity: 1;
}


.glyphicon-chevron-left,
.glyphicon-chevron-right {
    transition: all 0.3s ease-in;
    color: #343a3c;
    opacity: 0.7;
}

.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover {
    opacity: 1;
}

.feedbackCarousel {
    margin-bottom: 60px;
}

.feedback-block {
    padding: 0 200px;
    height: 280px;
}

.feedbackItem {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 280px;
}

.feedbackItem:hover {
    transition: all 0.3s ease-in;
    cursor: pointer;
    background-color: #343a3c;
    color: white;
}

.feedbackTextWrapper {
    display: block;
    height: 240px;
    width: 100%;
}

.feedbackText {
    font-size: 20px;
}

.feedbackTextModal {
    font-size: 20px;
    word-wrap: break-word;
}

.feedbackUserName {
    font-size: 25px;
    padding-bottom: 10px;
    width: 100%;
}

.carousel-indicators {
    display: none;
}

@media (max-width: 1400px) {
    .feedback-block {
        padding: 0 120px;
    }
}

@media (max-width: 1199px) {
    .feedbackCarousel {
        height: 690px;
    }
    .feedback-block {
        height: 690px;
    }
    .feedbackItem {
        height: 230px;
    }
    .feedbackTextWrapper {
        height: 180px;
    }
}

@media (max-width: 1000px) {
    .feedback-block {
        padding: 0 100px;
    }
}

@media (max-width: 600px) {
    .feedback-block {
        padding: 0 60px;
    }
    .feedbackImg img {
        width: 70%;
    }
    .feedbackImg {
        width: 15%;
    }
    .feedbackItem article {
        width: 80%;
    }
    .feedbackTextWrapper {
        height: 200px;
    }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.wrappered {
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer h5 {
    padding-top: 50px;
    padding-bottom: 10px;
}

.us-spinner-wrapper {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    background: none;
    transition: background 0.1s ease;
    pointer-events: none;
}

.us-spinner-wrapper.loading {
    z-index: 1000;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.3);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
    height: 100%;
    display: block;
}
.searchNavBar {
    display: inline-block;
    border-radius: 14px;
    width: 200px;
    font-size: 14px;
    height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}
.searchNavBar:focus {
    outline: 0;
}

.navigationBarMain {
    border-radius: 0;
}

@media (max-width: 767px) {
    .searchNavBar {
        width: 98%;
        margin-left: 1%;
        margin-top: 0;
    }
}

@media (max-width: 900px) and (min-width: 768px) {
    .logInNavBar, .signUpNavBar, .logOutNavBar {
        display: none;
    }
    .searchNavBar {
        width: 160px;
    }
}
