.carImg {
    max-width: 100%;
    margin-bottom: 15px;
    max-height: auto;
    display:block;
}

.carItem {
    height: 400px;
    border-radius: 10px;
    background-color: #f2f2f2;
    transition: all 200ms ease-in;
}

.carItem:hover {
    cursor: pointer;
    color: white;
    background-color: #343a3c;
    transform: scale(1.08);
}

.carModel {
    padding-top: 10px;
}

.allcarsCarInfo {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.carImg {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 360px) {
    .carImg {
        height: 100px;
    }
    .carItem {
        height: 310px;
    }
}

.noCars {
    margin-top: 10%;
}
