.us-spinner-wrapper {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    background: none;
    transition: background 0.1s ease;
    pointer-events: none;
}

.us-spinner-wrapper.loading {
    pointer-events: auto;
        background: rgba(0, 0, 0, 0.3);
}
